.ampliar_ola {
    background: #0099ff;
    height: 2em;
}


.titulo{
    text-align: center;
    margin-top: 2em;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 1em;
}

.contenedor{
    margin-bottom: 4em;
    margin-right: 10%;
}

.tabla{
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 3em;
}


img{
   float: left;
}


.texto ion-label{
    margin-left: 10px;
    padding-top: 22px;
    height: 60px;
}

ion-row{
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 50%;
    margin-bottom: 7em;
}

ion-col{
    height: 50px;
    padding-top: 13px;
    font-weight: 900;
    color: orangered;
    text-align: center;
}

