<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <img src="assets\icon\menu.png" alt="" (click)="openFirst()" style="margin-left: 10px;">
    </ion-buttons>
    <img src="assets\icon\volver.png" alt="" style="position: absolute; right: 20px; bottom: 10px;"
      [routerLink]="['/configuraciones']">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="body">


    <div class="contenedor1">

      <div class="usuario">
        <ion-label class="Bienvenido">Cuenta de </ion-label>
        <ion-label class="nombre">Camilo Santander</ion-label>
      </div>
    </div>

    <div class="contenedor2">
      <ion-label class="label">Modifique su perfil aqui..</ion-label>

      <div class="contra_actual">

        <div class="imagen">
          <img src="assets\icon\perfilC.png" alt="">
        </div>

        <ion-label class="titulo">Contraseña actual:</ion-label>

        <ion-label class="p">"camilo1234"</ion-label>

        <ion-label class="titulo">Usuario actual:</ion-label>

        <ion-label class="p">"ca.santander@duocuc.cl"</ion-label>

      </div>

      <div class="cambiar_contra">

        <ion-label class="titulo">Cambiar contraseña</ion-label>

        <ion-input type="text" placeholder="Nueva contraseña"></ion-input>

        <ion-button (click)="presentAlert()" expand="block" fill="clear" shape="round">
          Guardar
        </ion-button>
      </div>

      <div class="cambiar_usuario">

        <ion-label class="titulo">Cambiar usuario</ion-label>

        <ion-input type="text" placeholder="Nuevo usuario"></ion-input>

        <ion-button (click)="presentAlert()" expand="block" fill="clear" shape="round">
          Guardar
        </ion-button>
      </div>

      <div class="espacio">

      </div>
      <div class="espacio2">

      </div>

    </div>

  </div>

</ion-content>