<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <img src="assets\icon\menu.png" alt="" (click)="openFirst()" style="margin-left: 10px;">
    </ion-buttons>
      <img src="assets\icon\informacionP.png" alt="" style="position: absolute; right: 20px; bottom: 10px;" 
      [routerLink]="['/ayuda']">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="body">

    <div class="contenedor1">

      <div class="usuario">
        <ion-label class="Bienvenido">Bienvenido...</ion-label>
        <ion-label class="nombre">Camilo Santander</ion-label>
      </div>

    </div>

    <div class="contenedor2">
      <ion-label class="label">Seleccione alguna opcion...</ion-label>

      <div class="contenedor_cartas">
        <ion-row>
          <ion-col>

            <ion-card (click)="pinchoBoton()">
              <img src="assets\icon\escanear_qr.png" alt="">
              <icon-card-title>
                Escanear QR
              </icon-card-title>
            </ion-card>

            <ion-card [routerLink]="['/asistencia']">
              <img src="assets\icon\narracion.png" alt="">
              <icon-card-title>
                Asistencia
              </icon-card-title>
            </ion-card>

          </ion-col>


          <ion-col>

            <ion-card [routerLink]="['/horario']">
              <img src="assets\icon\calendario.png" alt="">
              <icon-card-title>
                Horario
              </icon-card-title>
            </ion-card>

            <ion-card [routerLink]="['/configuraciones']">
              <img src="assets\icon\engranajes.png" alt="">
              <icon-card-title>
                Configuraciones
              </icon-card-title>
            </ion-card>
            
          </ion-col>
        </ion-row>
      </div>


      <div class="espacio">

      </div>
      <div class="espacio2">

      </div>
    </div>

  </div>

</ion-content>