<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <img src="assets\icon\menu.png" alt="" (click)="openFirst()" style="margin-left: 10px;">
    </ion-buttons>
    <img src="assets\icon\volver.png" alt="" style="position: absolute; right: 20px; bottom: 10px;"
      [routerLink]="['/home']">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="body">

    <div class="contenedor1">
      <ion-label class="titulo">Importante...</ion-label>
      <ion-label class="parrafo">Por reglamento académico debes tener sobre un 75% de asistencia, en esta sección
        podrás revisar el avance y así no repetir por no ir a clases.</ion-label>
    </div>


    <div class="contenedor2">

      <ion-label class="label">Vea su asistencia aqui...</ion-label>
      
      <div class="borde_tabla">
        <div class="tabla">
          <ion-row class="titulo">
            <ion-col size="12"><img src="assets\icon\narracionP.png" alt=""> Asistencias</ion-col>
          </ion-row>

          <ion-row class="cabesera">
            <ion-col size="12">Ingenieria en informatica</ion-col>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="8" class="desplegable">
              <ion-label class="id">ASY4313-002D(T)</ion-label>
              <p>Ingles</p>
            </ion-col>

            <ion-col size="4" class="desplegable">
              <ion-label class="porcentaje">100%</ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="materia">
                <i-label class="dia">N* de clases registradas : 10</i-label>
              </ion-col>
              <ion-col size="12" class="materia">
                <i-label class="dia">Asistencia : 10</i-label>
              </ion-col>
            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="8" class="desplegable">
              <ion-label class="id">ASY4313-002D(T)</ion-label>
              <p>Ingles</p>
            </ion-col>
            
            <ion-col size="4" class="desplegable">
              <ion-label class="porcentaje">100%</ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="materia">
                <i-label class="dia">N* de clases registradas : 10</i-label>
              </ion-col>
              <ion-col size="12" class="materia">
                <i-label class="dia">Asistencia : 10</i-label>
              </ion-col>
            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="8" class="desplegable">
              <ion-label class="id">ASY4313-002D(T)</ion-label>
              <p>Ingles</p>
            </ion-col>
            
            <ion-col size="4" class="desplegable">
              <ion-label class="porcentaje">100%</ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="materia">
                <i-label class="dia">N* de clases registradas : 10</i-label>
              </ion-col>
              <ion-col size="12" class="materia">
                <i-label class="dia">Asistencia : 10</i-label>
              </ion-col>
            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="8" class="desplegable">
              <ion-label class="id">ASY4313-002D(T)</ion-label>
              <p>Ingles</p>
            </ion-col>
            
            <ion-col size="4" class="desplegable">
              <ion-label class="porcentaje">100%</ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="materia">
                <i-label class="dia">N* de clases registradas : 10</i-label>
              </ion-col>
              <ion-col size="12" class="materia">
                <i-label class="dia">Asistencia : 10</i-label>
              </ion-col>
            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="8" class="desplegable">
              <ion-label class="id">ASY4313-002D(T)</ion-label>
              <p>Ingles</p>
            </ion-col>
            
            <ion-col size="4" class="desplegable">
              <ion-label class="porcentaje">100%</ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="materia">
                <i-label class="dia">N* de clases registradas : 10</i-label>
              </ion-col>
              <ion-col size="12" class="materia">
                <i-label class="dia">Asistencia : 10</i-label>
              </ion-col>
            </div>
          </ion-row>

        </div>
      </div>

      <div class="espacio">

      </div>
      <div class="espacio2">

      </div>
    </div>
  </div>

</ion-content>