.contenedorT {
    display: flex;
    margin-bottom: 4em;
}

.texto {
    width: 60%;
}

.texto h5 {
    font-weight: 800;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-left: 2em;
}

.texto p {
    font-weight: 400;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-left: 3em;
}

.foto {
    margin-left: 3%;
    transform: translateY(15%);
}

.foto img {
    width: 80%;
}

.contra_actual {
    background: transparent;
    box-shadow: 0px 3px 6px rgb(83, 82, 82);
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    width: 40%;
    float: left;
    margin-left: 4%;
    transform: translateY(-15%);
}

.fotousu {
    width: 100%;
    margin-bottom: 15px;

    img {
        margin: auto;
    }
}

.titulo {
    font-size: 24px;
    font-weight: 900;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: cursive;
}

.cambiar {
    width: 50%;
    float: right;
    margin-right: 4%;
    transform: translateY(5%);
}

.cambiar_contra {
    background: transparent;
    box-shadow: 0px 3px 6px rgb(83, 82, 82);
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;

}

.cambiar_usuario {
    background: transparent;
    box-shadow: 0px 3px 6px rgb(83, 82, 82);
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    margin: auto;
    margin-top: 2em;

}

.cambiar_contra .titulo {
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.cambiar_contra ion-input {
    width: 90%;
    margin: auto;
    border: solid 1px black;
    margin-top: 10px;
    color: black;
}

.cambiar_usuario .titulo {
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.cambiar_usuario ion-input {
    width: 90%;
    margin: auto;
    border: solid 1px black;
    margin-top: 10px;
    color: black;
}

.espacio{
    height: 3em;
  }