.body {
    background: linear-gradient(to right, rgba(211, 11, 168, 0.452), rgb(255, 0, 179));
}

.contenedor1 {
    padding: 20px;
    width: 100%;
    padding-top: 50px;
    justify-content: space-between;

}

.contenedor2 {
    background: white;
    width: 100%;
    border-top-right-radius: 50px;
    padding-top: 40px;
    text-align: center;

}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1em;
}

.contenedor{
    margin-bottom: 3em;
    margin-right: 10%;
}

.tabla{
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 3em;
    
}

.correcto{
    margin-top: 10px;
}

.tabla .usuario img{
   float: left;
}


.texto ion-label{
    margin-left: 10px;
    padding-top: 22px;
    height: 60px;
}

ion-row{
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 40%;
    margin-bottom: 3em;
}

ion-col{
    height: 50px;
    padding-top: 13px;
    font-weight: 900;
    color: orangered;
    text-align: center;
}

.olvidar{
    color: gray;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1em;
    margin-left: 30%;
}

.espacio {
    height: 60px;
}

.espacio2 {
    padding: 30%;
    background: linear-gradient(to right, rgba(211, 11, 168, 0.452), rgb(255, 0, 179));
}

