.contenedorT {
    display: flex;
    margin-bottom: 2em;
}

.texto {
    width: 60%;
}

.texto h5 {
    font-weight: 800;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-left: 2em;
}

.texto p {
    font-weight: 400;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-left: 3em;
}


.buscador{
    width: 40%; 
    margin-right: 5em;
    transform: translateY(50%);
}

.buscador ion-searchbar{
    box-shadow: 1px 1px 1px 1px gray;
}

ion-card{
    width: 90%;
    margin: auto;
    background: #f5d419;
    box-shadow: 1px 1px 2px 2px gray;
    margin-bottom: 1em;
    border-bottom-left-radius: 25px;
}

.curso{
    background: white;
    margin-left: 13px;
    height: 2%;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    border-bottom-left-radius: 25px;

}

.titulo{
    font-weight: 600;
    color: gray;
    font-size: 20px;
    margin-left: 15px;
}

p{
    font-weight: 500;
    color: black;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;
}

.cantidad{
    font-weight: 400;
    color: rgb(172, 169, 169);
    font-size: 15px;
    margin-left: 20px;
}

.espacio{
    height: 3em;
  }