.contenedorT {
    display: flex;
}

.texto {
    width: 60%;
}

.texto h5 {
    font-weight: 800;
    font-size: 35px;
    color: black;
    margin-left: 2em;
}

.texto p {
    font-weight: 400;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-left: 3em;
}

.foto {
    margin-left: 5%;
}

.foto img {
    width: 60%;
}

.contenedor {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.isquierda {
    width: 30%;

}

.medio {
    width: 30%;
    margin-left: 5em;

}

.derecha {
    width: 30%;
    margin-left: 5em;

}

.contenedor h5 {
    font-weight: 600;
    font-size: 35px;
    color: black;
    margin: auto;
}

.contenedor p {
    font-weight: 400;
    font-size: 18px;
    color: black;
    width: 70%;
    margin-top: 1em;
}

.espacio{
    height: 3em;
  }