

.contenedor2 {
    background: white;
    width: 100%;
    border-top-right-radius: 50px;
    padding-top: 40px;

}

.titulo{
    margin-left: 30%;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 1em;
}

.tabla{
    width: 80%;
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 3em;
    height: 90px;
    padding-left: 4em;
    margin-top: 1em;
    overflow: hidden;
}

.registro{
    width: 30%;
    box-shadow: 2px 2px 4px 1px rgb(165, 165, 165);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-right: 3em;
    cursor: pointer;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 800;
    margin-bottom: 3em;
    color: orangered;
}

.tabla .icono{
    float: left;
}

.tabla .texto{
    padding-top: 5px;
    margin: 0px 0px 0px -20px;
}

.tabla .texto ion-label{
    padding-left: 10px;
}

.tabla ion-input{
    border-bottom: solid black 1px;
    margin-top: 1px;
    margin: 0px 0px 0px -30px;
}
.cosas{
    display: flex;
    margin-top: 1em;
}
.olvidar{
    color: gray;
    font-size: 18px;
    font-family: cursive;
    margin-top: 1em;
    margin-left: 5%;
    margin-bottom: 6em;
}

.correcto{
    width: 20%;
    margin-left: 50%;
}
