

.contenedorT{
  display: flex;
}

.texto {
  width: 65%;
}

.texto h5 {
  font-weight: 800;
  font-size: 30px;
  color: black;
  margin-left: 2em;
}

.texto p {
  font-weight: 400;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-left: 3em;
  margin-top: 15px;
}

.texto .importante {
  font-size: 20px;
  color:black;
  margin-left: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: zoom 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count:2;
  animation-delay: 3s;
  animation-duration: 1s
}

@keyframes zoom {
  from {
    transition: 1s ease;
  }
  to {
    transform : scale(1.1);
  }
}

.foto {
  margin-left: 10%;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count:2;
  animation-delay: 1s;
  animation-duration: 1s
  
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 25px, 0);
  }
}


@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 100px, 0);
  }
}

.foto img{
  width: 70%;

}
.seleccion{
  display: flex;
  width: 50%;
  margin-top: 2em;
  margin-left: 27%;
}

.cursos {
  width: 50%;
  box-shadow: 1px 1px 1px 1px grey;
}

.cursos ion-label{
  height: 37px;
  padding-top: 10px;
}

.boton_generar {
  box-shadow: 1px 1px 1px 1px grey;
  width: 35%;
  color: black;
  background: #0099ff;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  margin-left: 3em;
}

.generar_qr{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.foto2 {
  width: 14%;
  margin-top: 10em;
  animation: isquierda 0.5s;
  animation-direction: alternate;
  animation-iteration-count:infinite;
  animation-delay: 1s;
  animation-duration: 0.5s
}

@keyframes isquierda {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(10px, 0, 0);
  }
}


.QR {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.QR h5{
  font-weight: 800;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foto3 {
  width: 14%;
  margin-top: 10em;
  animation: derecha 0.5s;
  animation-direction: alternate;
  animation-iteration-count:infinite;
  animation-delay: 1s;
  animation-duration: 0.5s
}

@keyframes derecha {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(-10px, 0, 0);
  }
}

.generado{
  border: solid black 1px;
  height: 480px;
}

.botones{
  margin-top: 3em;
}

.botones ion-button{
  box-shadow: 1px 1px 1px 1px grey;
  color: rgb(0, 0, 0);
  background: #0099ff;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  width: 40%;
  margin-left: 30%;
}

.espacio{
  height: 3em;
}


