

.contenedorT{
  display: flex;
}

.texto {
  width: 70%;
}

.texto h5 {
  font-weight: 800;
  font-size: 35px;
  color: black;
  margin-left: 2em;
}

.texto p {
  font-weight: 400;
  font-size: 23px;
  color: rgb(0, 0, 0);
  margin-left: 3em;
}

.texto .importante {
  font-size: 23px;
  color: rgb(0, 0, 0);
  margin-left: 3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foto {
  margin-left: 5%;
  transform: translateY(25%);
}

.foto img{
  width: 70%;
}

.seleccion{
  display: flex;
  width: 50%;
  margin-top: 2em;
  margin-left: 27%;
}

.cursos {
  width: 50%;
  box-shadow: 1px 1px 1px 1px grey;
}

.cursos ion-label{
  height: 37px;
  padding-top: 10px;
}

ion-button {
  box-shadow: 1px 1px 1px 1px grey;
  width: 35%;
  color: black;
  background: #0099ff;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  margin-left: 3em;
}

.generar_qr{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.foto2 {
  width: 14%;
  margin-top: 10em;
}

.QR {
  width: 50%;
  margin: auto;
  margin-top: 3em;
  text-align: center;

}

.QR h5{
  font-weight: 800;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foto3 {
  width: 14%;
  margin-top: 10em;
}

.generado{
  border: solid black 1px;
  height: 450px;
}

.botones{
  margin-top: 3em;
}

.botones ion-button{
  box-shadow: 1px 1px 1px 1px grey;
  color: rgb(0, 0, 0);
  background: #0099ff;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  width: 40%;
  margin-left: 30%;
}

.espacio{
  height: 3em;
}