<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <img src="assets\icon\menu.png" alt="" (click)="openFirst()" style="margin-left: 10px;">
    </ion-buttons>
    <img src="assets\icon\volver.png" alt="" style="position: absolute; right: 20px; bottom: 10px;"
      [routerLink]="['/home']">
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="body">

    <div class="contenedor1">
      <div class="usuario">
        <ion-label class="horario">Horario de</ion-label>
        <ion-label class="nombre">Camilo Santander</ion-label>
      </div>

    </div>

    <div class="contenedor2">

      <ion-label class="label">Vea su horario aqui...</ion-label>

      <div class="borde_tabla">
        <div class="tabla">
          <ion-row class="titulo">
            <ion-col size="12"><img src="assets\icon\horario.png" alt="">Horario</ion-col>
          </ion-row>

          <ion-row class="cabesera">
            <ion-col size="12">Ingenieria en informatica</ion-col>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <i-label>Lunes <ion-icon name="caret-down-outline"></ion-icon></i-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <i-label>Martes <ion-icon name="caret-down-outline"></ion-icon></i-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <i-label>Miercoles <ion-icon name="caret-down-outline"></ion-icon></i-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

            </div>
          </ion-row>


          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <i-label>Jueves <ion-icon name="caret-down-outline"></ion-icon></i-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <i-label>Viernes <ion-icon name="caret-down-outline"></ion-icon></i-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <i-label>PROCESO DE PORTAFOLIO 4_008D</i-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <i-label class="dia">10:40 a 12:50</i-label>
              </ion-col>

            </div>
          </ion-row>

        </div>
      </div>

      <div class="espacio">

      </div>

      <div class="espacio2">

      </div>
    </div>
  </div>
</ion-content>