.body {
    background: linear-gradient(to right, rgba(211, 11, 168, 0.452), rgb(255, 0, 179));
}

.imagen {
    position: absolute;
    width: 20%;
    z-index: 1;
    right: 20px;
}

.contenedor1 {
    padding: 20px;
    width: 100%;
    padding-top: 25px;
    justify-content: space-between;

}

.horario {
    font-size: 18px;
    color: white;
    font-weight: 400;

}

.nombre {
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: block;
}

.contenedor2 {
    background: white;
    width: 100%;
    border-top-right-radius: 50px;
    padding-top: 20px;
    text-align: center;

}

.contenedor2 .label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.tabla {
    width: 90%;
    margin: auto;
    margin-top: 1em;
    box-shadow: 0px 10px 10px 5px rgb(83, 82, 82);
    border-top-right-radius: 25px;
    padding: 3px;

}

.cabesera {
    border-bottom: dotted black 1px;
}

.cabesera ion-col {
    height: 40px;
    color: black;
    text-align: center;
    margin-top: 12px;
    font-weight: 600;
}

.titulo {
    background: rgb(17, 17, 190);
    border-top-right-radius: 25px;
}

.titulo ion-col {
    height: 70px;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
    position: left;
}

.desplegable {
    color: black;
    height: 50px;
    border-bottom: solid rgb(156, 156, 156) 1px;
    padding-top: 15px;

}

.cuerpo {
    width: 97%;
    margin: auto;
}

.cuerpo i-label {
    margin: 5px;
}

.info {
    display: none;
    width: 100%;
}

.desplegable {
    cursor: pointer;
}

.cuerpo:active .info {
    display: block;
}

.especifico{
    color: gray;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.hora{
    display: block;
    color: rgb(61, 61, 61);
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 8px;
    border-bottom: dotted rgb(206, 205, 205) 1px;
}

.espacio {
    height: 60px;
}

.espacio2 {
    padding: 30%;
    background: linear-gradient(to right, rgba(211, 11, 168, 0.452), rgb(255, 0, 179));
}