<ion-header [translucent]="true" class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <img src="assets\icon\menu.png" alt="" (click)="openFirst()" style="margin-left: 10px;">
    </ion-buttons>
    <img src="assets\icon\volver.png" alt="" style="position: absolute; right: 20px; bottom: 10px;"
      [routerLink]="['/configuraciones']">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="body">

    <div class="contenedor1">
      <div class="usuario">
        <ion-label class="subtitulo">como funciona</ion-label>
        <ion-label class="titulo">RegistrAPP </ion-label>
      </div>

    </div>

    <div class="contenedor2">

      <ion-label class="label">Resuelve tus dudas aqui...</ion-label>

      <div class="parrafo">
        <ion-label class="label">¿ Qué hace ?</ion-label>
        <p>
          Check asist tiene la capacidad de crear un codigo QR, el cual sera creado por tu docente.
          Este QR tu podras escanearlo y asi poder quedar presente en tu clase de manera mas rapida y efciente
        </p>

        <ion-label class="label">¿ Qué hacer en caso de problemas ?</ion-label>
        <p>
          Pongase en contacto con su docente para que el pueda hablar con los cordinadores de tu carrera y
          poder solucionar el problema de la forma mas rapida y efectiva posible
        </p>

        <ion-label class="label">¿Puedo cambiar mi contraseña o usuario?</ion-label>
        <p>
          La respuesta es si, la forma de hacerlo es dirigirse a 'configuraciones/seguridad' o en la parte
          superior isquiquierda presionar las tres rallitas y luego 'modificar usuario'
          y luego de esto cambiar su contraseña o usuario segun usted requiera
        </p>
      </div>

      <div class="espacio">

      </div>
      <div class="espacio2">

      </div>

    </div>
  </div>


</ion-content>